@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --font-family: "noto Sans Thai", sans-serif;
}

body {
  background-color: #b8e6fe;
  margin: 0;
  padding: 0;
  font-family: "noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: rgb(85, 85, 85);
}

.p-input-icon {
  transform: translateY(-17%);
}
.p-password .p-icon-field {
  width: 100%;
}

.p-password .p-inputtext {
  width: 100%;
}

.swal-high-zindex {
  z-index: 9999 !important;
}

.swal2-container {
  z-index: 9999 !important;
}